<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="left" th:fragment="left">
	<ul class="nav nav-pills nav-stacked" style="width:200px;text-align:center">
	<li class="active">
		<a href="#" data-toggle="collapse" data-target=".ok1">Home</a>
		<ul class="nav nav-pills nav-stacked ok1 collapse">
			<li><a href="#">jmeter</a></li>
			<li><a href="#">EJB</a></li>
			<li><a href="#">Jasper Report</a></li>
		</ul>
	</li>
	<li class="active">
		<a href="#" data-toggle="collapse" data-target=".ok2">SVN</a>
		<ul class="nav nav-pills nav-stacked ok2 collapse">
			<li><a href="#">C++</a></li>
			<li><a href="#">EJB</a></li>
			<li><a href="#">Jasper Report</a></li>
		</ul>
	</li>
	<li class="active">
		<a href="#" data-toggle="collapse" data-target=".ok3">iOS</a>
		<ul class="nav nav-pills nav-stacked ok3 collapse">
			<li><a href="#">IOS1</a></li>
			<li><a href="#">IOS2</a></li>
			<li><a href="#">IOS3</a></li>
		</ul>
	</li>
	<li class="active">
		<a href="#" data-toggle="collapse" data-target=".ok4">VB.Net</a>
		<ul class="nav nav-pills nav-stacked ok4 collapse">
			<li><a href="#">VB.Net1</a></li>
			<li><a href="#">VB.Net2</a></li>
			<li><a href="#">VB.Net3</a></li>
		</ul>
	</li>
	<li class="active">
		<a href="#" data-toggle="collapse" data-target=".ok5">Java</a>
		<ul class="nav nav-pills nav-stacked ok5 collapse">
			<li><a href="#">Java1</a></li>
			<li><a href="#">Java2</a></li>
			<li><a href="#">Java3</a></li>
		</ul>
	</li>
	<li class="active">
		<a href="#" data-toggle="collapse" data-target=".ok6">PHP</a>
		<ul class="nav nav-pills nav-stacked ok6 collapse">
			<li><a href="#">PHP1</a></li>
			<li><a href="#">PHP2</a></li>
			<li><a href="#">PHP3</a></li>
		</ul>
	</li>
</ul>
</div>
</body>
</html>