<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>主页-导航栏</title>
<link rel="stylesheet" th:href="@{/BootStrap/css/bootstrap.min.css}" >
<link rel="stylesheet" th:href="@{css/common/login.css}" >
<script type="text/javascript" th:src="@{JQuery/jquery-3.5.1.js}"></script>
</head>
<body>
<h1>主页-导航栏</h1>
<h5><a th:href="@{/yzm}">验证码</a></h5>
<h5><a th:href="@{/dhl/pageLayout}">导航栏-代码片段</a></h5>
<h5><a th:href="@{/dhl/fragment}">导航栏-片段表达式</a></h5>
<h5><a th:href="@{/dhl/layout}">导航栏-页面布局layout</a></h5>
<h5><a th:href="@{/dhl/home}">导航栏-页面布局home</a></h5>
<h5><a th:href="@{/dhl/project}">导航栏-项目</a></h5>

</html>